* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: #000000;
    display: block;
    align-items: center;
    justify-content: center;
}

input[type=text]{
    margin-bottom: 8px;
    width: 30%;
    margin-left: 350px;
    border-radius: 15px;
    border-radius: 7px;
    cursor: pointer;
}

::placeholder {
    background-color: #000000;
}

.notification {
    margin-left: 300px;
}

#select{
    padding: 100px;
    text-align: center;
}

.plan {
    background-color: #000000;
    color: #fff;
    width: 800px;
    height: 40px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
}

#btn {
    margin-left: 300px;
    height: 25px;
    border-radius: 5px;
}

#btn:hover {
    border: 2px solid #000000;
    cursor: pointer;
}

section {
 background-color: #fff;   
 text-align: center;
 margin-right: 750px;
 border-radius: 10px;
}

h1{
    margin-right: 250px;
    padding: 10px;
    font-family: sans-serif;
}